@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;600&display=swap");
body {
  font-family: "Bai Jamjuree", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  background-image: url("assets/static3.gif");
}

.container {
  padding: 20px 50px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.innerwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13% 140px;
}

.innerwrapper_thoughts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13% 0px;
}

.p-wide {
  max-width: 700px !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

footer {
  position: fixed;
  bottom: 0;
}

.usn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fpd {
  margin-bottom: 30px;
  font-size: 12px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #9ea7b0;
  transition-duration: 0.2s;
}

.tdu {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

h1 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 26px;
  font-weight: 600;
}

p {
  font-size: 24px;
  font-weight: 500;
  max-width: 600px;
  margin-top: 10px;
}

.ml-20 {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px 20px;
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 20px;
  }
  .innerwrapper {
    padding: 35% 0px;
  }
  .logo {
    width: 70%;
  }
}
@media only screen and (min-width: 1700px) {
  h1 {
    font-size: 110px;
  }
  p {
    font-size: 34px;
    max-width: 800px;
  }
}
.glitch {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(1px, 9999px, 64px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(84px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(44px, 9999px, 61px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 47px, 0);
  }
  25% {
    clip: rect(75px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(50px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(78px, 9999px, 99px, 0);
  }
  40% {
    clip: rect(61px, 9999px, 84px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 40px, 0);
  }
  50% {
    clip: rect(49px, 9999px, 79px, 0);
  }
  55% {
    clip: rect(63px, 9999px, 36px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 96px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(74px, 9999px, 81px, 0);
  }
  75% {
    clip: rect(6px, 9999px, 27px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 71px, 0);
  }
  85% {
    clip: rect(76px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(97px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(53px, 9999px, 59px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 26px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(1px, 9999px, 64px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(84px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(44px, 9999px, 61px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 47px, 0);
  }
  25% {
    clip: rect(75px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(50px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(78px, 9999px, 99px, 0);
  }
  40% {
    clip: rect(61px, 9999px, 84px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 40px, 0);
  }
  50% {
    clip: rect(49px, 9999px, 79px, 0);
  }
  55% {
    clip: rect(63px, 9999px, 36px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 96px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(74px, 9999px, 81px, 0);
  }
  75% {
    clip: rect(6px, 9999px, 27px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 71px, 0);
  }
  85% {
    clip: rect(76px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(97px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(53px, 9999px, 59px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 26px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(68px, 9999px, 86px, 0);
  }
  5% {
    clip: rect(95px, 9999px, 62px, 0);
  }
  10% {
    clip: rect(13px, 9999px, 40px, 0);
  }
  15% {
    clip: rect(86px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(8px, 9999px, 67px, 0);
  }
  25% {
    clip: rect(75px, 9999px, 6px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 65px, 0);
  }
  35% {
    clip: rect(5px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 70px, 0);
  }
  50% {
    clip: rect(9px, 9999px, 55px, 0);
  }
  55% {
    clip: rect(4px, 9999px, 100px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 38px, 0);
  }
  65% {
    clip: rect(41px, 9999px, 2px, 0);
  }
  70% {
    clip: rect(75px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 55px, 0);
  }
  80% {
    clip: rect(52px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(4px, 9999px, 65px, 0);
  }
  90% {
    clip: rect(2px, 9999px, 72px, 0);
  }
  95% {
    clip: rect(26px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 60px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(68px, 9999px, 86px, 0);
  }
  5% {
    clip: rect(95px, 9999px, 62px, 0);
  }
  10% {
    clip: rect(13px, 9999px, 40px, 0);
  }
  15% {
    clip: rect(86px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(8px, 9999px, 67px, 0);
  }
  25% {
    clip: rect(75px, 9999px, 6px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 65px, 0);
  }
  35% {
    clip: rect(5px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 70px, 0);
  }
  50% {
    clip: rect(9px, 9999px, 55px, 0);
  }
  55% {
    clip: rect(4px, 9999px, 100px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 38px, 0);
  }
  65% {
    clip: rect(41px, 9999px, 2px, 0);
  }
  70% {
    clip: rect(75px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 55px, 0);
  }
  80% {
    clip: rect(52px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(4px, 9999px, 65px, 0);
  }
  90% {
    clip: rect(2px, 9999px, 72px, 0);
  }
  95% {
    clip: rect(26px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 60px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.rotate {
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}/*# sourceMappingURL=style.css.map */